extends ./layout/index 

block slider 
     .slider 
        h1 Rio de Janeiro
        em aventura


block contenido 
  main.container.mt-5
      h2.text-center.mb-5 Sobre Nosotros
      .row.mb-5 
          .col-md-6
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore dolor illum asperiores esse labore, porro qui deleniti voluptatibus a voluptate aliquam magnam ratione delectus magni? Corrupti placeat vel harum fugit?
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium recusandae voluptates dolores odio mollitia distinctio numquam quod reprehenderit ea neque delectus nisi, quam eligendi iure quos reiciendis sunt temporibus provident!
          .col-md-6
              img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotrs", class="img-fluid")
     
      include ./layout/bloque_viajes

  .descuento
      .container
          .row 
             .col-md-6 
                .contenido
                    h3 5% de Descuento
                    p.titulo Viaje a canada
                    p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                    p.precio $2,500USD
  .container 
         h2.mt-5.text-center Testimoniales 
         include ./layout/bloque_testimoniales

