extends ./layout/index 

block contenido 
  main.container.mt-5
      .row  
          .col-md-5 
               img(src="img/nosotros.jpg" alt="Sobre Nosotros", class="img-fluid")
          .col-md-7
              h1 #{pagina}
              blockquote  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum doloremque minus iste cupiditate placeat voluptas unde debitis nulla. Quos rerum pariatur, necessitatibus quas velit explicabo tenetur adipisci? Quas, fugiat sed.

              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum veniam placeat sint maiores, sit reiciendis delectus ipsa, modi rem quas tempore ducimus numquam ea! Earum dolor sapiente reprehenderit quisquam modi.

              p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestiae placeat nesciunt laudantium error suscipit officia! Veritatis, velit repudiandae cumque quis, praesentium recusandae aut libero commodi, in dolore eius quibusdam!

  .listado-iconos 
     .container.mt-5.py-5.text-center 
        .row 
          .col-md-4 
             img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
             h2 Seguridad
             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat esse, magnam nobis voluptates fuga, eos laborum doloremque ratione laudantium molestias exercitationem. Ipsa atque culpa illum suscipit, non ipsam eum.
          
          .col-md-4 
             img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
             h2 Mejores destinos
             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat esse, magnam nobis voluptates fuga, eos laborum doloremque ratione laudantium molestias exercitationem. Ipsa atque culpa illum suscipit, non ipsam eum.
          

          .col-md-4 
             img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
             h2 Los mejores Precios
             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat esse, magnam nobis voluptates fuga, eos laborum doloremque ratione laudantium molestias exercitationem. Ipsa atque culpa illum suscipit, non ipsam eum.